.tabContainer {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
    border-bottom: 2px solid #ccc;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    color: #888;
}

.tab.active {
    color: #364cf7;
    border-bottom: 3px solid #364cf7;
}

.popluarTitle {
    font-size: 18px;
    font-weight: bold;
    margin-left: 5%;
    margin-bottom: 2%;
}

.searchContainer {
    display: flex;
    justify-content: center; /* 검색창을 중앙에 배치 */
    width: 100%;
    padding: 20px 0; /* 상하 패딩 추가 */
}

.searchInput {
    width: 80%; /* 화면의 80% 너비 */
    max-width: 800px; /* 최대 너비를 800px로 제한 */
    padding: 10px 15px; /* 패딩을 추가하여 검색창이 크게 보이게 설정 */
    font-size: 18px; /* 글자 크기를 키움 */
    border: 1px solid #f5f4f4; /* 경계선 추가 */
    border-radius: 5px; /* 둥근 모서리 */
    background-color: #f5f4f4;
    color: #cccccc;
}

.InfoSelection {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.InfoSelection > div {
    cursor: pointer;
    font-weight: bold;
}
.Written {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2열 설정 */
    grid-gap: 20px; /* 그리드 아이템 사이 간격 */
    margin: 5%;
}

/* 그리드 아이템에 이미지와 정보가 들어갈 때 */
.listing-item {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.listing-img {
    width: 200px;
    height: auto;
    margin: 20px;
}

.listing-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.listtitle,
.listdate {
    color: black;
}
/* 링크에 밑줄을 없애는 스타일 */
.listing-item {
    text-decoration: none;
    color: inherit; /* 링크 색상을 부모 요소와 동일하게 유지 */
}

.listing-item:hover {
    text-decoration: none; /* 링크에 호버했을 때도 밑줄이 없도록 설정 */
}
.pagination {
    display: flex;
    justify-content: center;
}
.infomation {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.title {
    font-size: 20px;
    font-weight: bold;
}
.info {
    color: #b5b5b5;
}
.thridline,
.where {
    color: #b5b5b5;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    font-size: 13px;
}
.date {
    margin-left: 20px;
}
.heart {
    margin: 20px;
}

/* 미디어 쿼리 - 화면이 768px 이하로 줄어들 때 1열로 설정 */
@media (max-width: 1212px) {
    .Written {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .infomation,
    .listing-item {
        width: 600px;
    }
}
/* 추가적인 스타일 */
.searchInput {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}
