body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 가로 스크롤바 숨기기 */
}

.adv {
    position: relative;
    width: 100%;
    z-index: 1;
    max-width: 100%; /* 이미지의 최대 너비를 100%로 설정하여 양옆 공백 없이 꽉 차도록 함 */
    margin: 0 auto;
    overflow: hidden; /* 부모 요소를 넘치는 부분 숨기기 */
}

.advImg {
    position: relative;
    width: 100%;
    height: 600px;
    background: url("../assets/mainpageimg.png") no-repeat center center;
    background-size: cover; /* 이미지가 컨테이너를 꽉 채우도록 설정 */
    background-position: center 70%;
}

.advImg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, 0.9) 100%
    );
}
.advText {
    position: absolute;
    top: 100px; /* 이미지 상단에서 텍스트의 위치를 조정합니다 */
    left: 50px; /* 이미지 좌측에서 텍스트의 위치를 조정합니다 */
    color: #000; /* 텍스트 색상 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 텍스트에 그림자 효과 */
}

.TextTop {
    font-size: 34px; /* 큰 텍스트 크기 */
    font-weight: bold;
    margin-bottom: 10px; /* 아래 텍스트와의 간격 */
}
.Texttogether {
    display: flex;
    flex-direction: row;
}
.TextChat {
    font-size: 34px; /* 큰 텍스트 크기 */
    font-weight: bold;
    margin-bottom: 10px; /* 아래 텍스트와의 간격 */
    color: #364cf7;
}

.TextBottom {
    font-size: 16px; /* 작은 텍스트 크기 */
}
/* 슬라이드 카드 스타일 */
.travel-card {
    border: 1px solid #e0f0ff;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto; /* 가운데 정렬 */
    width: 180px; /* 카드 크기 조정 */
}

.recommendbox {
    position: absolute; /* adv 섹션을 기준으로 위치 고정 */
    top: 60%; /* 필요에 따라 top, left, right 조정 */
    z-index: 2; /* z-index가 높아서 adv 위에 위치 */
    width: 100%;
}

.recommend {
    position: relative;
    margin-top: -200px; /* 위로 올려서 배경과 겹치도록 설정 */
    z-index: 1; /* 배경 위에 표시되도록 z-index 설정 */
    margin-left: 10%;
    margin-right: 10%;
}
/* 슬라이드 아이템 간의 간격을 위해 패딩 추가 */
.slide-item {
    padding: 10px; /* 슬라이드 간 간격을 주기 위해 각 슬라이드에 패딩 추가 */
}

.travel-image {
    width: 100%;
    height: auto;
}

.travel-info {
    padding: 10px;
}

.slick-prev,
.slick-next {
    z-index: 1;
    color: #000;
}

.slick-dots li button:before {
    color: #000;
}

.recommendTitle {
    color: #000;
    font-weight: 900;
    font-size: 19px;
    margin-bottom: 15px;
}

.recommendHot,
.recoomendPeop {
    border-radius: 35px;
    background-color: #e0f0ff;
    padding: 5%;
    margin: 5%;
}
